<mat-expansion-panel>
  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option selected>A Fazer</mat-chip-option>
    <mat-chip-option>Fazendo</mat-chip-option>
    <mat-chip-option color="accent">Concluido</mat-chip-option>
  </mat-chip-listbox>


  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1>Ligar pra vovó</h1>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<button (click)="openDialog()" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>