<main id="main">

  <section>
    <h2 class="container mat-elevation-z8 total">
      <mat-icon>format_list_bulleted</mat-icon>
      Total de tarefas: {{totalDeTarefas}}
    </h2>
    <h2 class="container mat-elevation-z8 total pendentes">
      <mat-icon>schedule</mat-icon>
      Pendentes: {{totalDePendentes}}
    </h2>
    <h2 class="container andamento mat-elevation-z8 total pendentes">
      <mat-icon>schedule</mat-icon>
      Fazendo: {{totalDeFazendo}}
    </h2>
    <h2 class="container concluido mat-elevation-z8 total pendentes">
      <mat-icon>schedule</mat-icon>
      Concluido: {{totalDeConcluido}}
    </h2>

  </section>
  <section>
    <h2 class="title">Tarefas</h2>
  </section>

  <div *ngFor="let tarefa of tarefas">
    <mat-expansion-panel>
      <h2>{{tarefa.descricao}}</h2>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (click)="alterarSituacao(tarefa, 'Pendente')" selected>A Fazer</mat-chip-option>
        <mat-chip-option (click)="alterarSituacao(tarefa, 'Fazendo')">Fazendo</mat-chip-option>
        <mat-chip-option color="accent" (click)="alterarSituacao(tarefa, 'Concluido')">Concluido</mat-chip-option>
      </mat-chip-listbox>

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1>{{tarefa.name}}</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel>


  </div>

  <button (click)="openDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</main>