<h2 mat-dialog-title>Adicionar Tarefa</h2>

<mat-dialog-content>
  <form (ngSubmit)="adicionarTarefa()">
    <mat-form-field appearence="fill">
      <mat-label>Nome: </mat-label>
      <input matInput [(ngModel)]="novaTarefa.name" name="name" type="text" required>
    </mat-form-field>
    <mat-form-field appearence="fill">
      <mat-label>Conteúdo: </mat-label>
      <input matInput [(ngModel)]="novaTarefa.descricao" name="descricao" type="text" required>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Adicionar Tarefa</button>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button (click)="fechar()" mat-button><mat-icon>close</mat-icon></button>
</mat-dialog-actions>